body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  height: 100vh;
}
.left {
    background-color: #1b2f46;
    box-shadow: 4px 0px 10px -4px rgba(237,242,248,1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 2em 0 1.4em 0;
}
.left:hover .text {
    transform: translateX(0);
}
.left:hover .text:nth-of-type(3) {
    color: red;
}
.left a {
    display: block;
    /* background-color: red; */
    padding-top: 0.5em;
}
.left a:not(:last-child) {
    margin-bottom: 0.5em;
}
.left a.active {
    background-color: #f7feff;
}
.left a.active .text {
    transform: translateX(0);
}
.left img {
    width: 30px;
    height: 30px;
}
.left svg {
    width: 30px;
    height: 30px;
}
.left .text {
    transform: translateX(-100px);
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    color: #1bdbef;
    font-size: 20px;
}
.right {
    background: #40798c;
    background: -moz-radial-gradient(center, ellipse cover,  #40798c 0%, #0d121c 80%);
    /* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#40798c), color-stop(80%,#0d121c)); */
    background: -webkit-radial-gradient(center, ellipse cover,  #40798c 0%,#0d121c 80%);
    background: -o-radial-gradient(center, ellipse cover,  #40798c 0%,#0d121c 80%);
    background: -ms-radial-gradient(center, ellipse cover,  #40798c 0%,#0d121c 80%);
    background: radial-gradient(ellipse at center,  #40798c 0%, #0d121c 80%);
    overflow: hidden;
    padding: 0 1em;
}
.page-home {
    color: #000;
    position: relative;
    z-index: 0;
}
#particles-js {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
}
.page-home section {
    background-image: url(https://raw.githubusercontent.com/DevTips/DevTips-Starter-Kit/master/assets/img/tools.png);
    background-position: center;

    /* width: 900px; */
    max-width: 600px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 30px 2px #999;
    -moz-box-shadow:0 0 30px 2px #999;
    -webkit-box-shadow: 0 0 30px 0px #999;

    position: absolute;
    z-index: 3;
    top: 35%;
    margin: 0 5em;
}
.page-home pre {

    font-family: "Fira Mono", monospace;
    font-size: 30px;
    color: #d0d0d02e;
    pointer-events: none;

    position: absolute;
    z-index: 2;
    top: 0;
    left: -45px;
    width: 100%;
    height: 100%;
 }

 @media (max-width: 800px) {

     .page-home pre {
         font-size: 20px;
     }
     .page-home section {
         max-width: 350px;
         margin: 0 3em;
     }
 }

@media (max-width: 500px) {

    .page-home pre {
        font-size: 25px;
    }
    .page-home section {
        max-width: 250px;
        margin: 0 2em;
    }
}
                                                                    /********************** Portfolio **********************/

.portfolio-right {
    background-color: #40798c;
    padding: 5em 0;
}
.projects {
    list-style: none;
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.projects .project {
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 400px;
    overflow: hidden;
}
.projects .project img {
    width: 100%;
    display: block;
}
.projects .project .focus {
    position: absolute;
    top: 40%;
    right: 40%;

    opacity: 0;
    -webkit-transition: opacity ease-in-out 300ms;
    transition: opacity ease-in-out 300ms;
}
.project h2 {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    margin: 0;
}
.projects img.focus {
    width: 100px;
}
.projects .project:hover {
    opacity: 0.7;
}
.projects .project:hover .focus {
    opacity: 1;
}
@media (max-width: 800px) {

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {

    .projects {
        grid-template-columns: 1fr;
    }
}
